<!-- <mat-form-field>
  <mat-select placeholder="Selet type of car">
    <mat-option *ngFor="let carType of carTypes" [value]="carType">
      {{ carType }}
    </mat-option>
  </mat-select>
</mat-form-field> -->

<mat-form-field>
  <mat-select placeholder="Seleсt province" name="province" [formControl]="provinceControl">
    <mat-option *ngFor="let province of provinces" [value]="province.key">
      {{ province.title }}
    </mat-option>
  </mat-select>
</mat-form-field>

<mat-slider name="valume" [formControl]="valumeControl" min="0" max="3000" step="50" value="1600" thumbLabel tickInterval="1"></mat-slider>

<h1>{{price}}</h1>


