<table id="taxform" [formGroup]="carTaxControl" #f="ngForm">
  <tr>
    <td>
      <mat-form-field class="mat-form-field">
        <mat-select placeholder="Seleсt province:" name="province" formControlName="provinceKey">
          <mat-option *ngFor="let province of provinces" [value]="province.key">
            {{ province.title }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <br>
      <br>
      <br>

      <div style="text-align: center;">
        <mat-button-toggle-group formControlName="fuelType">
          <mat-button-toggle *ngFor="let fuel of fuelTypes" [value]="fuel" #b>
            <i [ngClass]="{'fas':b.checked, 'fa-gas-pump':b.checked, 'fa-lg': b.checked}"></i>
            {{fuel}}
          </mat-button-toggle>
        </mat-button-toggle-group>


      </div>

      <br>
      <br>
      <br>

      <div id="sliderData">
        <span id="currentSliderValue">{{f.value.volume}} kg</span>
      </div>

      <mat-slider [ngClass]="{'motorcycle': f.value.volume < _motorcycleWeight, 'lightTruck': f.value.volume > _lightTruckWeight, 'heavyTruck': f.value.volume > _heavyTruckWeight}"
        [volumeValue]="f.value.volume" formControlName="volume" min="1" max="5051" step="50" tickInterval="1" (input)="f.value.volume = $event.value">
      </mat-slider>

      <br>
      <br>
      <br>

      <h1 id="priceHeader">

        {{_price$ | async}}
        <i class="fas fa-euro-sign fa-xs"></i>
        <span>per quarter</span>
      </h1>

    </td>
    <td>

    </td>
  </tr>
</table>