@import "~@angular/material/prebuilt-themes/indigo-pink.css";
body {
    font-family: 'Roboto', serif;
}

label {
    margin-bottom: 0;
}

.mat-button-toggle-checked {
    background-color: #ff4081 !important;
}

#taxform {
    margin: 0 auto;
    width: 350px;
}

#resetButton {
    display: flex;
    justify-content: space-between;
}

#priceHeader {
    text-align: right;
    font-weight: normal;
}

.mat-slider-thumb {
    display: flex;
    align-items: center;
    background-color: transparent !important;
}

.mat-slider-thumb:before {
    display: inline-block;
    content: "\f0d1" !important;
    transform: scale(-1, 1);
    
}