@import "~@angular/material/prebuilt-themes/indigo-pink.css";
body {
    font-family: 'Roboto', 'Helvetica Neue', sans-serif;
}

label {
    margin-bottom: 0;
}

h1,
h2,
h3,
h4 {
    font-weight: 100;
}

.mat-button-toggle-checked {
    background-color: #ff4081 !important;
}

#taxform {
    margin: 0 auto;
    width: 350px;
}

#resetButton {
    display: flex;
    justify-content: space-between;
}

#priceHeader {
    text-align: center;
    font-weight: normal;
}

#currentSliderValue {
    color: #ff4081;
}

#sliderData {
    display: flex;
    justify-content: center;
}

.mat-slider-thumb {
    display: flex;
    visibility: hidden;
    align-items: center;
    background-color: transparent !important;
}

.mat-slider-thumb:before {
    visibility: visible;
    display: inline-block;
    position: relative;
    content: "\f1b9" !important;
    transform: scale(-1, 1);
    left: -75%;
}

